<div class="modal fade" id="exampleModalToggle2" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true"
    aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">{{postWinName}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #clBut
                    (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Post title</span>
                    <input [(ngModel)]="title" type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm">
                </div>

                <label>Post text</label>
                <div class="form-floating">
                    <textarea [(ngModel)]="message" class="form-control " placeholder="Leave a comment here"
                        id="floatingTextarea2" style="height: 100px" maxlength="200"></textarea>
                    <label for="floatingTextarea2">Leave a comment here</label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeModal()">Close</button>
                <button class="btn btn-primary" (click)="AddPost(title,message)">{{postName}}</button>
            </div>
        </div>
    </div>
</div>